header {
  background-color: #70831a;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 3.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #E7B22F;
}
